<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" [formGroup]="projectForm">
        <div class="form-group">
          <label for="project_name">Project Name</label>
          <input
            type="text"
            id="project_name"
            class="form-control"
            formControlName="projectName"
          />
          <span
            class="help-block"
            *ngIf="projectName.invalid && projectName.touched"
          >
            <ng-container *ngIf="projectName.errors['required']"
              >Please enter a valid Project Name."</ng-container
            >
            <ng-container *ngIf="projectName.errors['invalidProjectName']"
              >This Project Name is not allowed. Please choose a
              different.</ng-container
            >
          </span>
        </div>

        <div class="form-group">
          <label for="email">email</label>
          <input
            type="email"
            id="email"
            class="form-control"
            formControlName="projectEmail"
          />

          <span
            class="help-block"
            *ngIf="projectEmail.invalid && projectEmail.touched"
          >
            <ng-container *ngIf="projectEmail.errors['required']"
              >Please enter a valid email address."</ng-container
            >
            <ng-container *ngIf="projectEmail.errors['email']"
              >Please enter a valid email address, such as
              name@example.com.</ng-container
            >
          </span>
        </div>

        <div class="form-group">
          <label for="project_status">Project Status</label>
          <select
            id="project_status"
            class="form-control"
            formControlName="projectStatus"
          >
            <option *ngFor="let status of projectStatus" [value]="status">
              {{ status | titlecase }}
            </option>
          </select>
        </div>

        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="projectForm.invalid"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
