<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <li role="presentation" routerLinkActive="active">
          <a routerLink="template">Form Template</a>
        </li>

        <li role="presentation" routerLinkActive="active">
          <a routerLink="practice-template">Practice Template</a>
        </li>

        <li role="presentation" routerLinkActive="active">
          <a routerLink="reactive">Form Reactive</a>
        </li>

        <li role="presentation" routerLinkActive="active">
          <a routerLink="parctive-reactive">Practice Reactive</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
