<!-- ------------------------ 2. The Basic ---------------------------------------------------------------------------------- -->
<!-- /server -->
<!-- <router-outlet></router-outlet> -->

<!-- ------------------------ 5. Components & Databinding Deep Diva ---------------------------------------------------------------------------------- -->
<!-- /binding -->
<!-- <router-outlet></router-outlet> -->

<!-- ------------------------ 7. Directives Deep Diva ---------------------------------------------------------------------------------- -->
<!-- /directive -->
<!-- <router-outlet></router-outlet> -->

<!-- ------------------------ 9. Using Services & Dependency Injection ---------------------------------------------------------------------------------- -->
<!-- /services -->
<!-- <router-outlet></router-outlet> -->

<!-- ------------------------ 11. Changing Pages wth Routing ---------------------------------------------------------------------------------- -->
<!-- /routing -->
<!-- <router-outlet></router-outlet> -->

<!-- ------------------------ 13. Understanding Observables ---------------------------------------------------------------------------------- -->
<!-- /observables -->
<!-- <router-outlet></router-outlet> -->

<!-- ------------------------ 15. Handling Forms in Angular Apps ---------------------------------------------------------------------------------- -->
<!-- /form -->
<!-- <router-outlet></router-outlet> -->

<!-- ------------------------ 17. Using Pipes to transform Output ---------------------------------------------------------------------------------- -->
<!-- /pipes -->
<!-- <router-outlet></router-outlet> -->

<!-- ------------------------ 18. Making Http Requests ---------------------------------------------------------------------------------- -->
<!-- /http -->
<!-- <router-outlet></router-outlet> -->

<!-- ------------------------ 24. Standalone Components ---------------------------------------------------------------------------------- -->
<!-- /alone -->
<!-- <div class="stand-alone">
  <router-outlet></router-outlet>
</div> -->

<!-- ------------------------ 25. Angular Signals ---------------------------------------------------------------------------------- -->
<!-- /signal -->
<!-- <div class="signal">
  <router-outlet></router-outlet>
</div> -->

<!-- ------------------------ 26. Using NgRx For State Management ---------------------------------------------------------------------------------- -->
<!-- /ngrx -->
<!-- <div class="ngrx">
  <router-outlet></router-outlet>
</div> -->

<!-- ------------------------ 28. Angular Animations ---------------------------------------------------------------------------------- -->
<!-- /animations -->
<!-- <router-outlet></router-outlet> -->

<!-- ------------------------ 30. A Basic Introduction to Unit Testing in Angular Apps ---------------------------------------------------------------------------------- -->
<!-- /test -->
<!-- <router-outlet></router-outlet> -->

<!--* ------------------------ Main Project ---------------------------------------------------------------------------------- -->
<!-- * /project -->
<main>
  <router-outlet></router-outlet>
</main>
