.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 50;
}

.alert-box {
  position: fixed;
  top: 30dvh;
  left: 20dvw;
  width: 60dvw;
  padding: 1.5rem;
  z-index: 100;
  background: white;
  box-shadow: 0 2px 8 px rgba(0, 0, 0, 0.26);
}

.alert-box-actions {
  text-align: right;
}
