<ng-template appPlaceholder></ng-template>
<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <!-- <div class="alert alert-danger" *ngIf="error">{{ error }}</div> -->
    <!-- <app-alert
      *ngIf="error"
      [message]="error"
      (close)="onHandlerError()"
    ></app-alert> -->
    <ng-container *ngIf="isLoading; else form">
      <div style="text-align: center">
        <app-loading></app-loading>
      </div>
    </ng-container>

    <ng-template #form>
      <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
        <div class="form-group">
          <label for="email">E-Mail</label>
          <input
            type="text"
            id="email"
            class="form-control"
            name="email"
            [(ngModel)]="email"
            required
            email
          />
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            class="form-control"
            name="password"
            [(ngModel)]="password"
            required
            minlength="6"
            value="123456"
          />
        </div>

        <div class="btn-group">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="authForm.invalid"
          >
            {{ isLoginMode ? "Sign In" : "Sign Up" }}
          </button>
          <button
            type="button"
            class="btn btn-default"
            (click)="onSwitchMode()"
          >
            Switch to {{ isLoginMode ? "Sign Up" : "Sign In" }}
          </button>
        </div>
      </form>
    </ng-template>
  </div>
</div>
